.services {
  /* background-color: red; */
  width: 100%;
  padding: 30px 5%;
 
}
.section-title {
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  font-weight: 300;
  color: #3a3a57;
  font-weight: 100px;
  padding-left:20px ;
}
.section-child {
  width: 100%;
  padding: 10px 0px;
  /* background-color: white; */
  margin-top: 20px;
  display: flex;
  
  justify-content: space-around;
}
.service {
  width: 60%;
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
margin-right: 50px;
  align-items: flex-start;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  row-gap: 10px;
  box-shadow: 10px 10px 10px grey;
  border-radius: 10px;
  
}
.icons {
  padding: 50px;
  font-size: 30px;
  align-self: center;
  color: grey;

}
.service-btn {
  margin-top: 10px;
  padding: 12px 25px;
  background-color: #3a3a57;
  color: aliceblue;
  border: none;
  border-radius: 10px;
}

@media screen and (max-width: 600px) {
  .section-child {
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .service {
    width: auto;
    margin-bottom: 30px;
   margin-right: 0;
  }
}
/* .props{
  display: flex;

} */

