@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap");

.navbar {
  background-color: #8080807a;
  padding: 15px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  /* position: fixed; */
}
.nav-links a {
  text-decoration: none;
  color: #3a3a57;
  font-weight: bold;
  margin-right: 30px;
  padding: 15px;
  font-size: 22px;
}
.nav-links a:hover{
  background-color: white;
  color: #3a3a57;
}
button {
  padding: 10px;
  color: #3a3a57;
  font-size: 15px;
  border: none;
  font-weight: bold;
}
@media (max-width: 600px) {
  .navbar {
    padding: 0;
      /* position: fixed;  */
    
  }

}
.sidebar {
  width: 58%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #8080807a;
  z-index: 1;

}

.sidebar li {
  list-style: none;
  width: 100%;
  padding: 30px 5px 20px 10px;
  font-size: 20px;

}

.sidebar ul li a {
  text-decoration: none;
  color: #3a3a57;
  display: block;
  font-weight: bold;
}

.icon {
  display: none;
 
}

.sidebar li:hover {
  background-color: white;
  color: #3a3a57;
}


@media screen and (max-width: 600px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #333;
  }


  .nav-links li {
    margin: 0;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .nav-links {
    display: none;
  }

  .mobile-menu {
    display: block;
  }
}

@media (max-width: 600px) {
  .icon {
    display: block;
    padding: 20px; 
  }
}


  .sidebar {
    backdrop-filter: blur(5px); 
  }


